#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted $1$kpIJ1WVf$rPF0hdHZtviT59zI0g4xB/

# System timezone
timezone Europe/Amsterdam --isUtc

# System language
lang en_US

# Firewall configuration
#firewall --enabled --ssh
firewall --disabled

# Which services should be enabled
services --enabled=sshd

# Well... Let's agree
#eula --agreed

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text mode install
text

# SELinux configuration
selinux --permissive

# Do not configure the X Window System
skipx

# Network information
network  --bootproto=dhcp

# Halt after installation
halt

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all

# Create a user
user --name=vagrant --groups=vagrant --password=vagrant

#repo --name=base --baseurl=http://linux.cs.uu.nl/centos/centos/7/os/x86_64/
#url --url="http://linux.cs.uu.nl/centos/7/os/x86_64/"

# Create partitions
autopart

firstboot --disabled
reboot

repo --name epel --baseurl http://dl.fedoraproject.org/pub/epel/7/x86_64

%packages --nobase
epel-release
authconfig
system-config-firewall-base
kernel-headers
kernel-devel
dkms
make
gcc
bzip2
wget

# Following packages are not necessary
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
# configure vagrant user in sudoers
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
%end


#install
#lang en_GB.UTF-8
#keyboard us
#timezone Australia/Melbourne
#auth --useshadow --enablemd5
#selinux --disabled
#firewall --disabled
#services --enabled=NetworkManager,sshd
#eula --agreed
#ignoredisk --only-use=sda
#reboot
#
#bootloader --location=mbr
#zerombr
#clearpart --all --initlabel
#part swap --asprimary --fstype="swap" --size=1024
#part /boot --fstype xfs --size=200
#part pv.01 --size=1 --grow
#volgroup rootvg01 pv.01
#logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow
#
#rootpw --iscrypted $YOUR_ROOT_PASSWORD_HASH_HERE
#
#repo --name=base --baseurl=http://mirror.cogentco.com/pub/linux/centos/7/os/x86_64/
#url --url="http://mirror.cogentco.com/pub/linux/centos/7/os/x86_64/"
#
#%packages --nobase --ignoremissing
#@core
#%end
