#platform=86, AMD64, or Intel EM64T

#version=DEVEL
# System authorization information
auth --useshadow  --passalgo=sha512

# Install OS instead of upgrade
install
repo --name="epel" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64

# Use CDROM installation media
cdrom

# Use text mode install
text

# Firewall configuration
firewall --enabled --ssh

firstboot --disable

ignoredisk --only-use=sda

# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp
network  --hostname=portal.example.com

# Reboot after installation
reboot

# Root password
rootpw vagrant

# SELinux configuration
selinux --permissive

# System services
services --enabled="sshd"

# Do not configure the X Window System
skipx

# System timezone
timezone Europe/Amsterdam --isUtc

# Create a user account for the use of vagrant.
user --name=vagrant --groups=vagrant --password=vagrant

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all

%post
# Configure vagrant user in sudoers. The account will be used by vragrant.
# This means a few things:
#  - the vagrant user must be able to execute commands as root without the
#    need for passwords;
#  - the vagrant user must be able to use sudo without the need of a tty;
#  - the root user must be able to use sodo without the need od a tty.
cat << EOF >> /etc/sudoers.d/vagrant
vagrant ALL=(ALL) NOPASSWD: ALL

Defaults:vagrant,root !requiretty
EOF

chmod 0660 /etc/sudoers.d/vagrant
%end

%packages --nobase
@core
deltarpm

-alsa-*
-btrfs-progs
-cronie-anacron
-cronie
-plymouth-scripts
-ModemManager-glib
#-NetworkManager*
-postfix
-wpa_supplicant
%end
